# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec

# Flask stuff
instance/
.webassets-cache

# Uploaded Files
static/uploads/

# IDEs
.idea/
.vscode/

# GitHub env example
!.env.example
